<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.repository.ArtistDao">
	<!-- Database 명령 작성 -->
	
	<insert id="insert" parameterType="map">
		insert into Artist(no, name, member, debutDate, activityType, agency, thumb, regDate, mid) values(
		artist_seq.nextval,
		#{name},
		#{member},
		to_date(#{debutDate}, 'mm/dd/yyyy'),
		#{activityType},
		#{agency},
		#{thumb},
		sysdate,
		#{mid}
		)
	</insert>
	
	<select id="getList" resultType="artistDto">
		select * from artist
	</select>
	
	<select id="getByNo" resultType="artistDto" parameterType="int">
		select * from artist where no=#{no}
	</select>
	
	<select id="getListByName" resultType="artistDto" parameterType="string">
		select * from artist where name like '%'||#{name}||'%'
	</select>
	
	<select id="getListByMemberId" resultType="artistDto" parameterType="string">
		select * from artist where mid=#{mId}
	</select>
	
</mapper>