<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.repository.MemberDao">
	<!-- Database 명령 작성 -->
	
	<insert id="insert" parameterType="map">
		insert into member(no, id, pw, pwLoop, salt, email, activationKey, regDate, power, expiredate) values(
		member_seq.nextval,
		#{id},
		#{pw},
		#{pwLoop},
		#{salt},
		#{email},
		#{activationKey},
		sysdate,
		0,
		sysdate
		)
	</insert>
	
	<select id="getList" resultType="memberDto">
		select * from member
	</select>
	
	<select id="getlistOrderById" resultType="memberDto">
		select * from member order by id asc
	</select>
	
	<select id="getListOrderByRegDate" resultType="memberDto">
		select * from member order by regDate asc
	</select>
	
	<select id="getListOrderByPower" resultType="memberDto">
		select * from member order by power desc
	</select>
	
	<select id="getListByPower" resultType="memberDto" parameterType="int">
		select * from member where power=#{power}
	</select>
	
	<select id="getById" resultType="memberDto" parameterType="string">
		select * from member where id=#{id}
	</select>
	
	<select id="getByEmail" resultType="memberDto" parameterType="String">
		select * from member where email=#{email}
	</select>
	
	<select id="getByActivationKey" resultType="memberDto" parameterType="string">
		select * from member where activationKey=#{activationKey}
	</select>
	
	<update id="activation" parameterType="string">
		update member set power=1 where activationKey=#{activationKey}
	</update>
	
	<update id="setVoucher" parameterType="map">
		update member set expiredate=sysdate+#{day} where id=#{uid} 
	</update>
	
	<update id="addVoucher" parameterType="map">
		update member set expiredate=expiredate+#{day} where id=#{uid} 
	</update>
	
	<update id="addDownCount" parameterType="map">
		update member set downcount=downcount+#{downcount} where id=#{uid}
	</update>
	
	<update id="subDownCount" parameterType="string">
		update member set downcount=downcount-1 where id=#{uid}
	</update>

</mapper>