<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.repository.MenuDao">
	<!-- Database 명령 작성 -->
	<select id="getList" resultType="menuDto">
		select * from menu order by name asc
	</select>
	
	<select id="getListByName" resultType="menuDto" parameterType="String">
		select * from menu where name like '%'||#{name}||'%' order by name asc
	</select>
	
	<insert id="register" parameterType="menuDto">
		insert into menu values(#{name}, #{price})
	</insert>
	
	<insert id="register2" parameterType="map">
		<!-- map.get("name") -->
		insert into menu values(#{name}, #{price})
	</insert>
</mapper>