<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="autoMappingBehavior" value="FULL"/>
	</settings>

	<!-- 별칭: 마이바티스는 풀 패키지명을 이용해야 하는데 이를 축약할 수 있는 설정 -->
	<typeAliases>
		<typeAlias type="spring.bean.GenreDto" alias="genreDto"/>
		<typeAlias type="spring.bean.ArtistDto" alias="artistDto"/>
		<typeAlias type="spring.bean.AlbumDto" alias="albumDto"/>
		<typeAlias type="spring.bean.MusicDto" alias="musicDto"/>
		<typeAlias type="spring.bean.MemberDto" alias="memberDto"/>
		<typeAlias type="spring.bean.MusicPlayDto" alias="musicPlayDto"/>
		<typeAlias type="spring.bean.MusicPlayGroupDto" alias="musicPlayGroupDto"/>
		<typeAlias type="spring.bean.SimpleDto" alias="simpleDto"/>
	</typeAliases>

</configuration>