<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.repository.TestDao">
	<!-- Database 명령 작성 -->
	
	<select id="getList" resultType="testDto">
		select * from test
	</select>
	
	<insert id="insert" parameterType="testDto">
		insert into test values(#{no})
	</insert>
</mapper>